<md-dialog aria-label="List dialog">
  <md-dialog-content style="padding: 50px 20px 50px 20px;">
    
    <h6>【問題文】</h6>
    {{q.Content}}
    
    <h6>【選択肢】</h6>
    <ul>
      <li ng-class="q.Choice1.TrueFalse ? 'selected_answer' : ''" ng-if="q.Choice1.Content !== ''">
        {{q.Choice1.Content}}</li>
      <li ng-class="q.Choice2.TrueFalse ? 'selected_answer' : ''" ng-if="q.Choice2.Content !== ''">
        {{q.Choice2.Content}}</li>
      <li ng-class="q.Choice3.TrueFalse ? 'selected_answer' : ''" ng-if="q.Choice3.Content !== ''">
        {{q.Choice3.Content}}</li>
    </ul>
    
    <h6 ng-if="q.Rubric !== ''">【解説】</h6>
    <span ng-if="q.Rubric !== ''">{{q.Rubric}}</span>
    
  </md-dialog-content>
  
  <md-dialog-actions> 
    <md-button ng-click="closeDialog()">閉じる</md-button>
  </md-dialog-actions> 

</md-dialog>