<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
    <div class="mdl-card__title {{image}}">
        <h2 class="mdl-card__title-text">
        <b>{{title}}</b>
        </h2>
    </div>
    <div class="mdl-card__supporting-text">
        {{description}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a ng-click="movePage($event, link)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            はじめる
        </a>
    </div>
</div>