<style>
.mdl-radio {
  display: block;
  margin-bottom: 10px;
}
.mdl-typography--text-center {
	text-align: left !important;
}
h5 {
	margin-top: 0px;
}

</style>

<div class="android-be-together-section mdl-typography--text-center" style="max-width: 750px; min-height: 100px; margin: 0 auto;">
	<slick dots="false" class="slider single-item" current-index="index" responsive="breakpoints" slides-to-show=1 slides-to-scroll=1>
	<div ng-repeat="q in questions" style="margin:15px 30px 20px 30px;">
		<div style="background-color:white; padding:20px;color: rgba(0,0,0,.54);">
			<h5>問{{$index + 1}}.</h5>
			<div style="font-size:20px;word-wrap: break-word; margin-bottom: 20px;">
				{{q.Content}}
			</div>

			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
				<input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1">
				<span class="mdl-radio__label">{{q.Choice1.Content}}</span>
			</label>
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
				<input type="radio" id="option-2" class="mdl-radio__button" name="options" value="1">
				<span class="mdl-radio__label">{{q.Choice2.Content}}</span>
			</label>
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
				<input type="radio" id="option-3" class="mdl-radio__button" name="options" value="1">
				<span class="mdl-radio__label">{{q.Choice3.Content}}</span>
			</label>
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
				<input type="radio" id="option-4" class="mdl-radio__button" name="options" value="1">
				<span class="mdl-radio__label">{{q.Choice4.Content}}</span>
			</label>
		</div>
	</div>
	</slick>
	<div style="margin-top: -40px; text-align: center;">
		<md-button class="md-warn md-raised" ng-click="showConfirm($event)" flex-sm="100" flex-md="100" flex-gt-md="auto">
			回答を送信する
		</md-button>
	</div>
</div>