<md-dialog aria-label="List dialog">
  <md-dialog-content style="padding: 50px 20px 50px 20px;">
    
    <md-input-container class="md-icon-float md-block">
      <label>問題文</label>
      <input md-maxlength="150" ng-model="question.Content" name="content" required>
    </md-input-container>
    
    {{question.Choice1}}<br>
    {{question.Choice2}}<br>
    {{question.Choice3}}<br>
    
    <md-input-container class="md-icon-float md-block">
      <label>解説</label>
      <input md-maxlength="150" ng-model="question.Rubric" name="content" required>
    </md-input-container>
    
    <md-input-container class="md-icon-float md-block">
      <label>大カテゴリ</label>
      <input md-maxlength="150" ng-model="question.LargeCategoryKey" name="content" required>
    </md-input-container>
    
    <md-input-container class="md-icon-float md-block">
      <label>中カテゴリ</label>
      <input md-maxlength="150" ng-model="question.MediumCategoryKey" name="content" required>
    </md-input-container>
    
    <md-input-container class="md-icon-float md-block">
      <label>小カテゴリ</label>
      <input md-maxlength="150" ng-model="question.SmallCategoryKey" name="content" required>
    </md-input-container>
    
    <md-select ng-model="question.Status">
      <md-option ng-value="'REVIEW'">REVIEW</md-option>
      <md-option ng-value="'APPROVED'">APPROVED</md-option>
      <md-option ng-value="'REJECTED'">REJECTED</md-option>
    </md-select>
    
  </md-dialog-content> 
  <md-dialog-actions> 
    <md-button ng-click="closeDialog()"> 
      閉じる 
    </md-button>
    <md-button ng-click="update($event, question)" class="md-primary"> 
      保存
    </md-button> 
  </md-dialog-actions> 
</md-dialog>